@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{margin :0; padding: 0; font-family: Pretendard, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
body{background-color: #eeeeee;}
#header{display: flex; width: 100%; height: 65px; background-color: #3578F6;}
    #header a{text-decoration: none; display: block;}
    #header .title{padding: 0.7em 0 0 2em; color: aliceblue; width: 100%;}
    #header #login_img{display: block; margin: auto 0 auto 88%;}

#info{background-color: #fff; position:relative; display: flex; list-style: none;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px;}
    #info li{padding: 1em 0 0 4em; height: 40px;}
        #info li a{ color: black; text-decoration: none;}
        #info li a:hover{ color: #3578F6;}

#main{margin: 0 auto; width: 900px; height: 800px; background-color: #fff;}
    #main #proj{padding: 4em; font-size: 1.3em;}
        #main #proj #proj_name{height: 30px; width: 700px; margin-top :1em;}
        #main #proj #proj_info{resize: none; height: 200px; width: 701px; margin-top :1em;}
            #proj #proj_info::placeholder{font-size: 1.1em;}

            #proj label {
                margin-top: 0.5em;
                display: inline-block;
                padding: 0.5em 0.6em;
                color: #fff;
                font-size: inherit;
                line-height: normal;
                vertical-align: middle;
                background-color: #3578F6;
                cursor: pointer;
                border: 1px solid #ebebeb;
                border-bottom-color: #e2e2e2;
                border-radius: 0.25em;
              }
              
              #proj input[type="file"] {
                /* 파일 필드 숨기기 */
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
              }
        
        #main #proj #img{ margin:1em 0 1em 0; width: 100px;}
            #proj #img::-webkit-file-upload-button{background-color: #3578F6; border: none; border-radius: 5px; color: #fff; width: 100px; height: 40px; font-size: 1.2em;}
        #sel{margin: 5% 0 0 25%; display: flex;}
            #main #proj #chose{margin-left: 15px; background-color: rgba(0, 0, 0, 0); z-index: 6; border: none; width: 150px; text-align: center; font-size: 1.1em; font-weight: 600; appearance: none; border-bottom: #3578F6 solid 3px;}
            #main #proj #chose:focus + #tri{transform: rotate(180deg); transition: 0.2s;}
        #regi{display: block; margin: 0 auto; margin-top: 5%; width: 200px; height: 40px; font-size: 1em; font-weight: 550; background-color: #3578F6; border: none; border-radius: 5px; color: #fff;}