<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 추가</title>
    <link rel="stylesheet" href="/static/css/add.css">
</head>
<body>
    <header id="header">
        <a href="../main/main.html"><h2 class="title">DGStore</h2></a>
        <img id="login_img" src="../img/로그인 1.png" alt="" width="40" height="40">
    </header>
    <ul id="info">
        <li><a href="#">프로젝트 추가</a></li>
        <li><a href="#">프로젝트 관리</a></li>
        <li><a href="#">로그인</a></li>
    </ul>
    <nav id="main">
        <div id="proj">
            <h3>프로젝트 추가</h3>
            <input id="proj_name" type="text" placeholder="프로젝트 이름"><br>
            <textarea id="proj_info" name="" cols="30" placeholder="프로젝트 상세 내용" rows="10"></textarea>
            
            <button id="Button">이미지 등록</button>
            <input id="img" type="file" accept=".jpg, .png, .svg" >
            <br>
            <div id="sel">
                <h4>프로젝트 상태 : </h4>
                <select id = "chose">
                    <option value="public">공개</option>
                    <option value="secret">비공개</option>
                </select>
            </div>
            <button id="regi">프로젝트 등록</button>
        </div>
    </nav>
</body>
</html>